<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:data="http://www.incardata.com.cn/schema/tags"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
        http://www.incardata.com.cn/schema/tags http://www.incardata.com.cn/schema/tags/protocol.xsd">
    <!-- 扫描文件 -->
    <!-- 自动加载构建bean -->
    <context:component-scan base-package="com.hp.data"/>

    <!-- 加载数据库属性配置文件
    <context:property-placeholder location="classpath:db.properties" />
    -->
    <data:protocol id="conversion" name="someName">
        <data:unit name="1603">
            <data:element type="STRING"/>
        </data:unit>
    </data:protocol>
</beans>